{% extends 'base.html' %}
{% load static %} 

{% block content %}

    <body class="">
      <!-- Navbar Start -->
    <div class="container-fluid bg-light position-relative shadow">
      <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
          <a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px;">
              {% comment %} <i class="flaticon-043-teddy-bear"></i> {% endcomment %}
              <span class="text-primary">Pacey Schools</span>
          </a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
              <div class="navbar-nav font-weight-bold mx-auto py-0">
                  <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                  <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                  <a href="{% url 'class' %}" class="nav-item nav-link">Users</a>
                  <a href="{% url 'team' %}" class="nav-item nav-link">Team</a>
                  <!-- <a href="{% url 'gallery' %}" class="nav-item nav-link">Gallery</a> -->
                  <div class="nav-item dropdown">
                      <!-- <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                      <div class="dropdown-menu rounded-0 m-0">
                          <a href=""{% url 'blog' %}"" class="dropdown-item">Blog Grid</a>
                          <a href="{% url 'single' %}" class="dropdown-item">Blog Detail</a>
                      </div> -->
                  </div>
                  <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
              </div>
              <a href="{% url 'login' %}" class="btn btn-primary px-4">School Portal</a>
          </div>
      </nav>
  </div>
  <!-- Navbar End -->

<div class="container-fluid py-5" style="margin-top: 10%;">
<div class="login-box mx-auto">
  <div class="login-logo">
    <a href="{% url 'login' %}"><b>Student </b>Management System</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to Student Management System</p>

      <form action="{% url 'doLogin' %}" method="POST">
      {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" name="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>

          {% comment %} <div class="col-12 text-center">
            <a href="{% url 'password_reset' %}">Reset Password</a>
          </div>  {% endcomment %}

          {% comment %} Display Messages {% endcomment %}
          {% if messages %}
          <div class="col-12">
            {% for message in messages %}
              {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}

          <!-- /.col -->
        </div>
      </form>


  </div>
</div>
</div>
<!-- /.login-box -->

<!-- Footer Start -->
<!-- <div class="container-fluid bg-secondary text-white py-5 px-sm-3 px-md-5">
  <div class="row pt-5">
      <div class="col-lg-3 col-md-6 mb-5">
          <a href="" class="navbar-brand font-weight-bold text-primary m-0 mb-4 p-0" style="font-size: 40px; line-height: 40px;">
              <i class="flaticon-043-teddy-bear"></i>
              <span class="text-white">Pacey Schools</span>
          </a>
          <p>Pacey Education Management Software is a web application, unlike computer-based software programs that operate locally on the device’s operating system which runs on a web server. The user uses a web browser with an active network connection to access web apps. </p>
          <div class="d-flex justify-content-start mt-4">
              <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                  style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
              <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                  style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                  style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                  style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
          <h3 class="text-primary mb-4">Get In Touch</h3>
          <div class="d-flex">
              <h4 class="fa fa-map-marker-alt text-primary"></h4>
              <div class="pl-3">
                  <h5 class="text-white">Address</h5>
                  <p>Ikeja, Lagos, Nigeria</p>
              </div>
          </div>
          <div class="d-flex">
              <h4 class="fa fa-envelope text-primary"></h4>
              <div class="pl-3">
                  <h5 class="text-white">Email</h5>
                  <p>info@psc.com</p>
              </div>
          </div>
          <div class="d-flex">
              <h4 class="fa fa-phone-alt text-primary"></h4>
              <div class="pl-3">
                  <h5 class="text-white">Phone</h5>
                  <p>+2348167342222, +2347032375497</p>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
          <h3 class="text-primary mb-4">Quick Links</h3>
          <div class="d-flex flex-column justify-content-start">
              <a class="text-white mb-2" href="{% url 'home' %}"><i class="fa fa-angle-right mr-2"></i>Home</a>
              <a class="text-white mb-2" href="{% url 'about' %}"><i class="fa fa-angle-right mr-2"></i>About Us</a>
              <a class="text-white mb-2" href="{% url 'class' %}"><i class="fa fa-angle-right mr-2"></i>Our Classes</a>
              <a class="text-white mb-2" href="{% url 'team' %}"><i class="fa fa-angle-right mr-2"></i>Our Team</a>
              <a class="text-white mb-2" href="{% url 'blog' %}"><i class="fa fa-angle-right mr-2"></i>Our Blog</a>
              <a class="text-white" href="{% url 'contact' %}"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
          <h3 class="text-primary mb-4">Newsletter</h3>
          <form action="https://gmail.us21.list-manage.com/subscribe/post?u=bd4238f17099390a15f5edc65&amp;id=b7ce8f64f0&amp;f_id=0065c0e1f0" method="post">
              <div class="form-group">
                  <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" name="FNAME"/>
              </div>
              <div class="form-group">
                  <input type="email" class="form-control border-0 py-4" placeholder="Your Email" name="EMAIL" required="required" />
              </div>
              <div>
                  <button class="btn btn-primary btn-block border-0 py-3" type="submit">Submit Now</button>
              </div>
          </form>
      </div>
  </div>
  <div class="container-fluid pt-5" style="border-top: 1px solid rgba(23, 162, 184, .2);;">
      <p class="m-0 text-center text-white">
          &copy; <a class="text-primary font-weight-bold" href="#">Pacey Schools</a>. All Rights Reserved. Designed
          by
          <a class="text-primary font-weight-bold" href="https://foyem.com">Foyem Group</a>
      </p>
  </div>
</div> -->
<!-- Footer End -->


{% endblock %}